# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# use glob syntax
syntax: glob

*~
debug/*
release/*
profile/*
dist/graphlabapi*
doc/doxygen/*
doc/doxygen_internal/*
deps/*
configure.deps
config.log
new_news.txt
cxxtest/cxxtest/*.pyc

extapis/java_jni/dist
extapis/java_jni/bin

demoapps/coloring/matlab_tools/*.tsv
demoapps/shortest_path/matlab_tools/*.tsv
demoapps/pagerank/matlab_tools/*.tsv

tags
*swp
\.mchg\.mchg
.ycm_extra_conf*
/dist/

# for mac systems
.DS_Store

# netbeans project files
nbproject
